*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-image: url('./bioBG.jpg');
    color: #ffffff9b;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
background-color: #4c2d09;
height: 3em;
position:fixed;
width: 100%;
top: 0;
}


.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;     
}
.nav a{
    text-decoration: none;
    color: #7fffd4c6;
    height: 100%;
    padding: 1em;
    
}

.nav a:hover{
    background-color: #0e4432aa;
}

.bio{
    padding:0 10em;
    margin-top: 5em;
    /* text-align: justify; */
    min-height: calc(100vh - 3em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#welcome{
    align-self: center;
    min-width: 40%;
    overflow: cover;
    white-space: nowrap;
    /* animation: animate 3s linear forwards infinite; */
}
.bio h1{

    text-align: center;
    line-height: .6em;
    margin-bottom: 2em;
}
.bio p{
    line-height: 1.5em;
    font-size: 1.2em;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.9em;
    line-height: 3em;
    /* background-color: #bf550a80; */

}
.soft-skills, .technical-skills{
display: flex;
flex-flow: column;
align-items: center;
flex: 0 1 500px;
border-radius: 2em;
/* background-color: #bf550a80; */
padding: 3em 5em;

}

.soft-skills{

    border-right: double grey 2px;
    ;
}
.technical-skills{
    border-left: double grey 2px;

}
#project-heading{
    text-align: center;
    margin-top: 3em;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em;
    gap: .7em;

}
.project{
    /* display: flex; */
    flex-direction: column;
    /* flex: 1 1 200px; */
    background-color: #bf550a80;
    border-radius: 2em;
    padding: 1.2em;
    line-height: 1.2em;
    gap: .8em;
    display: none;
    width: 40%;
    height: 40%;
}
.active{
    display: block;
}

.project img{
display: inline-block;
width: 100%;

}

.project a{
    text-decoration: none;
    color: inherit;
    margin-top: auto;
    color: #7fffd4c6;
}
.project a:hover{
    color: #9f6b36;
}

.footer{
    background-color: #00252e;
    font-family: "Big Shoulders Display", cursive;
    padding: 3em;
    width: 100%;
    color: #ffffffb0;
    display: flex;
    justify-content: space-between;
    
    
}

.form{
    display:flex;
    flex-direction: column;
    flex: 2 1 40%;
}

.copyright{
    align-self: flex-end;
    text-align: end;
    flex: 1 1 30%;

}
.input{
    display: flex;
    height: 2em;
    justify-content:stretch;
}
input[type="email"]{
    width:60%;
    border-right: 0;
    border: none;
}

input[type='submit']{
    width: 10em;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    border: none;

}

input[type='submit']:hover{
    background-color: white;
    cursor: pointer;
}


/*'''''''' defining some animations''''''''*/

@keyframes animate {
   0%{
    width: 0px;
    height: 0px;
   }
   30%{
    width: 20px;
    height: 0px;
   }
   60%{
    width: 50px;
    height: 0px;
   }
   70%{
    width: 10px;
    height: 0px;
   }
}

/* .................... Media Query ..................... */

 @media screen and (max-width: 1000px) {
    body{
        font-size: .8em;
    }
}

.bio{
    padding: 0 8em;
    height: 50vh;
    margin-top: 4em;

}
.skills{
    padding: .9em;
    line-height: 2em;
}

.soft-skills,.technical-skills{
padding: 2.3em 4.3em;
}

.footer{
    font-size: .8em;
    padding: 3em;
}
.input{
    height: 1.8em;
}
input[type='submit']{
    /* font-size: 1.2em; */
    font-weight: 100;
    width: 8em;
    font-size: 1.1em;

}


@media screen and (max-width: 500px) {

    body{
        font-size: .7em;
    }

    .bio{
        padding: 0 6em;
        margin-top: 3.5em;
    }

    .skills{
        flex-direction: column;
        padding: 5em;
        /* justify-content: center; */
    }

    .soft-skills,.technical-skills{
        /* padding: 2em 4em; */
        flex: 0 0 200px;
        }

    .projects{
        flex-direction: column-reverse;
        padding: 3em;
        gap: 5em;        
        }

    .project{
        padding: 3em;
        /* outline: invert 2px dashed; */
        gap: 2em;
    }

    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.7em;

        
        }
    .form{
        width: 70%;
    }
    .input{
        height: 1.6em;
    }
    input[type='submit']{
        font-weight: 100;
        width: 7em;
        /* font-size: 1.1em; */
    
    }
    input[type='submit'], input[type='email']{
        font-size: 1.1em;
    } 

}

@media screen and (max-width: 375px) {
    body{
        font-size: .6em;
    }
    .bio{
        padding: 0 4em;
        margin-top: 3em;
    }

    input[type='submit'], input[type='email']{
        font-size: .9em;
    } 
    .projects{
        padding: 1.5em;
    }
    .project{
        padding: 2em;
        gap: 1.7em;
    }
    .skills{
        padding: 3em;
    }
    .footer{
        padding: 1.5em;

    }
   
}
